Repository builtree/simulate, pull requests merged in 2019-07, with the labels that each got.

#33 UI: Made UI bit more dynamic
  lib/src/custom_items/simulation_card.dart
Labels: UI/UX

#36 lib: src: simulations: Added Insertion Sort Algorithm
  images/InsertionSort.gif
  lib/src/custom_items/algorithms_page.dart
  lib/src/data/simulations.dart
  lib/src/simulations/insertion_sort.dart
  pubspec.yaml
Labels: new simulation, simulations

#38 Modified dispose method
  lib/src/simulations/insertion_sort.dart
Labels: bug, simulations

#32 lib: src: simulations: bubble_sort: Changed painter to container implementation
  lib/src/simulations/bubble_sort.dart
Labels: enhancement, simulations

#24 lib: src: simulations: toothpick: added scaling feature
  lib/src/simulations/toothpick.dart
Labels: enhancement, help wanted, simulations

#43 Implemented searching for simulations
  lib/src/data/simulations.dart
  lib/src/home.dart
Labels: enhancement

#44 lib: src: simulations: toothpick: Solved the toothpick pattern problem for varying widths
  lib/src/simulations/toothpick.dart
Labels: bug, simulations

#41 lib: src: simulations: Added delay slider to Insertion Sort
  lib/src/data/simulations.dart
  lib/src/simulations/bubble_sort.dart
  lib/src/simulations/insertion_sort.dart
  lib/src/simulations/langton_ant.dart
Labels: enhancement, simulations

#47 UI: Made UI less hard coded
  lib/src/custom_items/home_page.dart
  lib/src/custom_items/simulation_card.dart
Labels: UI/UX, enhancement

#45 lib: src: simulations: bubble_sort: Completed bubble sort modifications
  lib/src/data/simulations.dart
  lib/src/simulations/bubble_sort.dart
Labels: UI/UX, enhancement, simulations

#46 lib: src: simulation: rose_pattern: Refined rose pattern
  lib/src/data/simulations.dart
  lib/src/simulations/rose_pattern.dart
Labels: UI/UX, enhancement, simulations

#49 Added splash screen, made minor modifications
  android/app/src/main/res/drawable/launch_background.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  lib/main.dart
  lib/src/custom_items/simulation_card.dart
  lib/src/home.dart
  lib/src/simulations/bubble_sort.dart
  lib/src/simulations/counter.dart
  lib/src/simulations/counting.dart
  lib/src/simulations/insertion_sort.dart
  lib/src/simulations/langton_ant.dart
  lib/src/simulations/rose_pattern.dart
  lib/src/simulations/toothpick.dart
  pubspec.yaml
Labels: UI/UX, enhancement

#51 lib: src: simulations: Added Fourier Series simulation #50
  images/Fourier.gif
  lib/src/data/simulations.dart
  lib/src/simulations/fourier_series.dart
  pubspec.lock
  pubspec.yaml
Labels: new simulation, simulations

#53 docs: Added documentation for the project
  README.md
  docs/CONTRIBUTING.md
  docs/CUSTOM_WIDGETS.md
  docs/SIMULATIONS.md
Labels: documentation

#55 lib: src: simulations: Added Pi Approximation Simulation #54
  images/PiApproximation.gif
  lib/src/data/simulations.dart
  lib/src/simulations/insertion_sort.dart
  lib/src/simulations/pi_approximation.dart
  pubspec.yaml
Labels: new simulation, simulations
